    
{{#each posts as |post|}}
    <div class="post-container">
        <a href="/api/comments/{{post.id}}"><div id="post-title" class="post-title display-flex justify-center"><h5><strong>{{post.title}}</strong> posted by {{post.user.name}} on {{post.date_created}}</h5></div></a>
        <div id="post-content" class="post-body col-12"><p>{{post.content}}</p></div>
        {{#if post.comments}}
            <div id="comments"><h5>Comments:</h5>
            {{#each post.comments as |comment|}}
            <div class="comment"><p>{{comment.content}}</p><p><i>comment by {{comment.user_name}} on {{comment.date_created}}</i></p></div>
            {{/each}}
        </div>
        {{/if}}
    </div>
{{/each}}
