<div class="user-posts-div">
  <h4>Posts</h4>
<!-- #each posts as |post| -->
{{#each posts as |post|}}
<!-- make a fetch request to /edit to acquire post/user info. -->
    <div class="col-4 user-posts"><a href="/edit/{{post.id}}" id="edit-anchor" value="{{post.id}}"><h5>{{post.title}}</h5></a>
    </div>   
{{/each}}
  </div>

  <div>
    <a href="/new-post"><button id="new-post">New Post</button></a>
  </div>


<div class="user-posts-div">
  <h4>Comments</h4><p>(Click on a comment to delete it forever)</p>
{{#each comments as |comment|}}
<!-- make a fetch request to /edit to acquire post/user info. -->
    <div class="col-4 user-posts"><a href="/api/comments/delete/{{comment.id}}" id="edit-anchor" value="{{comment.id}}"><h5>{{comment.content}}</h5></a>
    </div>   
{{/each}}

</div>


  <script src="/js/logout.js"></script>
 
